<!DOCTYPE html>
<html>
<head>
<style>
body { background:#c9f4f6; font-family:Arial; padding:40px }
.card {
  background:white; padding:30px; width:380px;
  margin:auto; border-radius:12px;
}
.balance {
  background:#00897b; color:white;
  padding:15px; border-radius:8px;
  text-align:center; margin:15px 0;
}
button { width:100%; padding:10px; margin:5px 0 }
</style>
</head>
<body>
<div class="card">
  <h3>SmartBank</h3>
  <p>Welcome {{EMAIL}}</p>
  <div class="balance">${{BALANCE}}</div>

  <form method="POST" action="/transfer">
    <input name="receiver" placeholder="Recipient Email" required>
    <input name="amount" type="number" required>
    <button>Send</button>
  </form>

  <a href="/transactions">View Transactions</a><br>
  <a href="/profile">Profile Settings</a><br>
  <a href="/logout">Logout</a>
</div>
</body>
</html>
